<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>입출고 등록 확인</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- 헤더 -->
    <header class="header">
        <h1>물류 창고 입출고 프로그램</h1>
        <div>
            <nav class="nav">
                <ul>
                    <li><a href="/product">제품조회</a></li>
                    <li><a href="/inoutRegister">입출고등록</a></li>
                    <li><a href="/viewInoutRegister">입출고내역조회</a></li>
                    <li><a href="/grossProfit">출고매출이익</a></li>
                    <li><a href="/">홈으로</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- 메인 -->
    <main class="main">
        <section>
            <div>
                <h2>입출고 내역 조회</h2>
                <div class="table-container">
                    <table class="data-table">
                        <thead>
                            <tr>
                                <th>번호</th>
                                <th>제품코드</th>
                                <th>제품명</th>
                                <th>구분</th>
                                <th>수량</th>
                                <th>거래처</th>
                                <th>거래일자</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="inout : ${inoutList}">
                                <td th:text="${inout.t_no}"></td>
                                <td th:text="${inout.product_code}"></td>
                                <td th:text="${inout.product_name}"></td>
                                <td th:text="${inout.t_type eq 'I' ? '입고' : '출고'}"></td>
                                <td th:text="${inout.t_count}"></td>
                                <td th:text="${inout.company_name}"></td>
                                <td th:text="${inout.t_date}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </main>

    <!-- 푸터 -->
    <footer class="footer">
        <p>copyright ⓒ 2024 KOREA INFORMATION TECHNOLOGY ACADEMY. ALL RIGHTS RESERVED</p>
    </footer>
</body>
</html>